.header{
  background-color: black;
}

.header h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  font-size: 50px;
}
.header img{
  margin-left: 5px;
  margin-bottom: 20px;
  width: 30px;
}
.header img, .header h1 {
  display: inline-block;
}

.nav{
  padding-top: 10px;
  float: right;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 17px;
}

.nav a {
  color: #adadad;
}

.titreindex{
    text-align: center;
}

.monEspace {
  border: 1px solid red;
  text-align: center;
}
.monEspace .divTitle {
  padding-bottom: 50px: 
}
.monEspace h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.monEspace .lien {
  padding: 10px;
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  border: 1px solid #e0e2e5;
  color: #646566;
}
